@model MIL_LIT.User
@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> _signInManager
@inject UserManager<User> _userManager

<h4 class="wr">Редагувати дані користувача</h4>
<hr />
<div class="row wr">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="UserName" />
            <div class="form-group mb-2">
                <label asp-for="Login" class="control-label"></label>
                <input asp-for="Login" class="form-control" />
                <span asp-validation-for="Login" class="text-danger"></span>
            </div>
            <div class="form-group mb-2">
                <label asp-for="PasswordHash" class="control-label">Пароль</label>
                <input asp-for="PasswordHash" class="form-control" />
                <span asp-validation-for="PasswordHash" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label">Email</label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            @if(User.IsInRole("admin"))
            {
                <div class="form-group form-check">
                    <input class="form-check-input" asp-for="IsAdmin" type="hidden"/>
                </div>
                <a class="btn btn-outline-primary" asp-action="Edit" asp-controller="Roles" asp-route-userid="@Model.Id">Права доступу</a>
            }
            <div class="form-group">
                <input asp-for="CreatedAt" class="form-control" type="hidden"/>
            </div>
            <div class="form-group mb-2">
                <input asp-for="ProfilePicture" class="form-control" type = "hidden"/>
                <span asp-validation-for="ProfilePicture" class="text-danger"></span>
            </div>
            <div class="form-group mb-2">
                <label asp-for="CoverFile" for="formFile" class="form-label">Нове зображення профілю</label>
                <input asp-for="CoverFile" class="form-control" type="file" id="formFile" accept="image/*">
                <span asp-validation-for="CoverFile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Зберегти" class="btn btn-outline-success me-3 my-3" />
                <a asp-action="Index" class="btn btn-outline-secondary my-3">Скасувати</a>
            </div>
        </form>
    </div>
</div>
