@model IEnumerable<MIL_LIT.User>

<h2 class="wr">Список користувачів</h2>
<table class="table wr">
    @foreach (var user in Model)
    {
        <tr>
            <td>@user.Login</td>
            <td>
                <a class="btn btn-sm btn-primary" asp-action="Edit" asp-route-userid="@user.Id">Права доступу</a>
            </td>
        </tr>
    }
</table>
