@{
    ViewData["Title"] = "Про нас";
}

<div class="text-center wr">
    <h2 class="display-4">Літературний клуб ML</h2>
    <p>
        Тематична література для підготовки і розширення спектру знань. Ми створили найбільшу мілітарі - бібліотеку на ентузіазмі і бажанні популяризувати військову літературу та підвищити нашу з вами ефективність у боротьбі з московитським окупантом.
    </p>
    <p>
        <a href = t.me/nation_lit02>
            Зворотній зв’язок
        </a>
    </p>
    <p>
        <a href = t.me/mil_lit_help>
            Підтримати проєкт
        </a>
    </p>

    <p>
        <a href = https://www.instagram.com/military_literatures>
            Instagram
        </a>
    </p>

    <p>
        <a href = t.me/mil_lit>
            Telegram
        </a>
    </p>
</div>
