@{
    ViewData["Title"] = "Корисна інформація";
}
<h1>@ViewData["Title"]</h1>
<body class="wr">
        <h5>Військова підготовка</h5>
        <p>
        <a href = https://cutt.ly/PBcXIP8>База знань з аеророзвідки</a>
        </p>
        <p>
        <a href = https://cutt.ly/2BcZG8o>Хлопці з лісу (YouTube)</a>
        </p>
        <p>
        <a href = https://cutt.ly/UBEoDBO>Військова топографія (плей лист на YouTube каналі ТРО)</a>
        &
        <a href = https://cutt.ly/cBHpJoS>YouTube Igor Serdiuk</a>
        </p>
        <p>
        <a href = https://cutt.ly/qBcCT9Q>Курс для гранатометників</a>
        </p>
        <p>
        <a href = https://cutt.ly/6BcRB40>КМБ для чайників (YouTube)</a>
        </p>
        <p>
                <a href =   https://cutt.ly/MBcVk1G>Навчання з попередження ризиків від вибухонебезпечних предметів (Prometheus)</a>
        </p>
        <p>
                <a href =  https://youtube.com/c/atanillinois>Alex Saint  (YouTube) тут</a>
        </p>
        <p>
                <a href =  https://cutt.ly/HBcNle1>Мілітарний (YouTube)</a>
        </p>
        <p>
                <a href =  https://t.me/OlegBoikoMilitaryLeaderSMARTbook>Про військове лідерство</a>
        </p>
        <p>
                <a href =  https://ghost.org.ua/>Привиди України</a>
        </p>
        <p>
                <a href =  https://cutt.ly/gBHsHt9>Військове телебачення</a>
        </p>
        <p>
                <a href =  https://t.me/ein_fruhling_2>Officer's notes</a>
        </p>
        <p>
                <a href =  https://cutt.ly/dBFzHne>Military English by Olga Dobryvoda , детальна програма курсу є тут</a>
        </p>
        <p>
                Valde Khan  (YouTube) 
                <a href =  https://www.youtube.com/c/ValdeKhan/about>тут</a>
                а його "Броньований розум" 
                <a href = https://cutt.ly/kBHoiRm>тут</a>
        </p>
        <p>
                <a href =   https://youtube.com/c/IbisKiev-hunting-arms>Канал по зброї і оптиці (YouTube) з Panas Masliynyk</a>
        </p>
        <p>
                <a href =  https://youtube.com/user/partyzan2006>Канал по інженерним боєприпасам (YouTube) з Курт Оберст</a>
        </p>
        <h5>Платформи по темі</h5>
        <p>
                <a href =  https://jablunia.org/>Яблуня</a>
        </p>
        <p>
                <a href =  https://cutt.ly/rBcRj4r>Я хочу воювати</a>
        </p>
        <p>
                <a href =  https://cutt.ly/DBcRmlT>Wiki (Мобілізація)</a>
        </p>
        <p>
                <a href =  https://cutt.ly/4BcRIq7>Пам’ятка учасникам російсько-української війни</a>
        </p>
        <p>
                <a href =    https://www.psdinfo.store/blog>Спільнота «PSDinfo»</a>
        </p>
        <p>
                <a href =  https://sprotyvg7.com.ua/>Підготовка населення до ТрО</a>
        </p>
        <h5>Медицина</h5>
        <p>
                <a href =  https://cutt.ly/5Bcn6r1>тактична медицина (YouTube)</a>
        </p>
        <p>
                <a href =  https://cutt.ly/1BcERLT>Перша домедична допомога в умовах війни (Prometheus)</a>
        </p>
        <p>
                <a href =  https://cutt.ly/EBcZ3RY>Перша допомога в умовах надзвичайного стану (YouTube)</a>
        </p>
        <p>
                <a href =  https://cutt.ly/6BcEniD>Надання домедичної допомоги в умовах бойових дій (КОЛЕСО)</a>
        </p>
        <p>
                <a href =   https://cutt.ly/nBcRi6Y>Курс "Перша мед.допомога" (Пласт)</a>
        </p>
        <p>
                <a href =  https://cutt.ly/0BHoD0E>Військовий психолог Andriy Kozinchuk  (YouTube) тут</a>
        </p>
        <p>
                <a href =  https://t.me/TacticMedAid_bot>Тг-бот TacticMedAid, лінк</a>
        </p>
        <h5>Про підготовку до холодів</h5>
        <p>
                <a href =  https://cutt.ly/YBHoLVT>Теплі поради аеророзвідникам для холодної зими</a>
        </p>
        <p>
                <a href = https://cutt.ly/oBcNKfR>Поради "Як менше мерзнути" від Vitalii Diachuk</a>
        </p>
        <p>
                <a href = https://undergroundvolunteer.weblium.site/>Зима на носі: як підібрати одяг та спорядження для військових, зручний лендінг від Євгенія Мінаєва</a>
        </p>
        <p>
        <a href = https://cutt.ly/oBHo0v>про спальники від Taras Zhovtyi </a>
        +
        <a href = https://youtu.be/it5Yy3TkHBU>відео по темі</a> 
        </p>
        <p>
        <a href =  https://cutt.ly/yB6XcPU>Як обрати термобілизну та чому бавовняна термобілизна — зовсім не термо, фб-пост Олекси Кулака тут</a>
        </p>
</body>