@model MIL_LIT.Book

@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> _signInManager
@inject UserManager<User> _userManager

<h4 class="wr">Редагувати дані книги</h4>
<hr />
<div class="row wr">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group mb-2">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="BookId" />
            <input type="hidden" asp-for="CreatedBy"/>
            <div class="form-group">
                <input asp-for="Likes" class="form-control" type="hidden"/>
            </div>
            <div class="form-group">
                <input asp-for="Saves" class="form-control" type="hidden"/>
            </div>
            <div class="form-group mb-2">
                <label asp-for="SourceLink" class="control-label"></label>
                <input asp-for="SourceLink" class="form-control" />
                <span asp-validation-for="SourceLink" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="CreatedAt" class="form-control" type="hidden"/>
            </div>
            <div class="form-group">
                <!--<label asp-for="Filepath" class="control-label"></label>-->
                <input asp-for="Filepath" class="form-control" type="hidden"/>
                <span asp-validation-for="Filepath" class="text-danger"></span>
            </div>
            <div class="form-group mb-2">
                <label asp-for="GeneralInfo" class="control-label"></label>
                <textarea asp-for="GeneralInfo" class="form-control"></textarea>
                <span asp-validation-for="GeneralInfo" class="text-danger"></span>
            </div>
            <div class="form-group mb-2">
                <label asp-for="Author" class="control-label"></label>
                <input asp-for="Author" class="form-control" />
                <span asp-validation-for="Author" class="text-danger"></span>
            </div>
            <div class="form-group mb-2">
                <input asp-for="CoverLink" class="form-control" type="hidden"/>
                <span asp-validation-for="CoverLink" class="text-danger"></span>
            </div>
            <div class="form-group mb-2">
                <label asp-for="TagIds" class="control-label">Категорії</label>
                <select asp-for="TagIds" class ="form-control" asp-items="ViewBag.AllTags" multiple>
                    @* @foreach (var item in ViewBag.AllTags)
                    {
                        if(Model.TagIds.Contains(int.Parse(item.Value)))
                        {
                            <option value="@item.Value" selected="selected"> @item.Text</option>
                        } else
                        {
                            <option value="@item.Value">@item.Text</option>
                        }
                    } *@
                </select>
            </div>

            <div class="form-group mb-2">
                <label asp-for="CoverFile" for="formFile" class="form-label">Нова обкладинка</label>
                <input asp-for="CoverFile" class="form-control" type="file" id="formFile" accept="image/*">
                <span asp-validation-for="CoverFile" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Зберегти" class="btn btn-outline-success me-3 my-3" />
                <a asp-action="Index" class="btn btn-outline-secondary my-3">Повернутися</a>
            </div>
        </form>
    </div>
</div>

